@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Saffron.Models
@if (Request.IsAuthenticated)
{
    var Manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currUser = Manager.FindById(User.Identity.GetUserId());
    string displayName;

    if (String.Empty == currUser.DisplayName || currUser.DisplayName == null)
    {
        displayName = currUser.Email;
    }
    else { displayName = currUser.DisplayName; }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" id="topNav">
            <li>
                @Html.ActionLink("Hello " + displayName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            <li></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" id="topNav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li></li>
    </ul>
}
