
@{
    ViewBag.Title = "Overdraft Warning";
}

<h2>Overdraft Warning</h2>

<h3> This Transaction Has Caused an Overdraft.</h3>

@Html.ActionLink("Transactions", "Index",null,new { @class = "btn btn-primary" })